@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.heading{
  font-family: 'San-serif';
  font-size: 25px;
}
.container{
  height: 300px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input{
  border-radius: 8px;
  padding-left: 5px;
  font-size: 20px;
  height: 36px;
  border: none;
}
.middle,.right{
  width: 120px;
  border-radius: 8px;
}
.switch{
  padding: 5px;
  margin-top: 25px;
  background-color: rgb(226, 252, 184);
  border-radius: 50%;
  cursor: pointer;
}
.result{
  box-sizing: border-box;
  width: 600px;
  padding-left: 30px;
}
button{
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid forestgreen;
  background-color: rgb(226, 252, 184);
  cursor: pointer;
}
p,h3, button, .switch{
  color: rgb(13, 153, 36);
}
p{
  font-size: 30px;
}